
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: serif;
    max-width: 100%;
}

.section{
    min-height: 120vh;
    background-image: url(bgpic.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section .container{
    width: 100%;
    margin: auto;
}

.nav h1{
    position: absolute;
    float: left;
    display: flex;
    color: #A77D43;
    font-weight: bold;
    font-size: 5vw;
    padding: 2%;
    letter-spacing: 3px;
}

nav{
    height: 85px;
}

nav ul{
    float: right;
    line-height: 80px;
    padding: 1%;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: #784646;
    text-transform: uppercase;
    font-size: 20px;
    margin: 20px;
}

nav ul li a:hover{
text-decoration: underline;
color: #784646;
}

.body h2{
    position: absolute;
    margin-top: 110px;
    margin-left: 680px;
    font-size: 90px;
    letter-spacing: normal;
    color: #784646;
}

.body h1{
    position: absolute;
    margin-top: 160px;
    margin-left: 550px;
    font-size: 130px;
    letter-spacing: 3px;
    color: #A77D43;
}

.body button{
    text-decoration: none;
    border-style: none;
    background: #925959;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    position: absolute;
    margin-top: 360px;
    margin-left: 790px;
    font-size: 30px;
    letter-spacing: 3px;
}

.body a{
    text-decoration: none;
    color: #ffffff;
}

.body button:hover{
    color: rgb(255, 255, 255);
    background-color: #A77D43;
}

hr{
    margin-top: 500px;
    margin-left: 150px;
    float: right;
    width: 60%;
    border-color: #e096ad;
}

.about{
    width: 90%;
    margin: auto;
    padding-top: -5%;
}

.row1{
    margin-top: -7%;
    display: flex;
    justify-content: space-between;
}

.about2{
    flex-basis: 45%;
    width: 40%;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.about2 h3{
    font-size: 40px;
    color: #784646;
    text-align: center;
    letter-spacing: 3px;
}

.about2 p{
    font-size: 20px;
    color: #A77D43;
    text-align: center;
}

.about2 ul{
    list-style: circle;
    font-size: 20px;
    color: #A77D43;
    text-align: center;
}

div.f-d{
	background: #784646;
    width: 100%;
	box-sizing: border-box;
    padding: 20px 20px;
}

div.footer-left h1{
    color: #fff;
    font-size: 5vw;
    padding-left: 5%;
}

div.f-d .footer-left,
div.f-d .footer-center,
div.f-d .footer-right{
	display: inline-block;
	vertical-align: top;
}

.f-d .footer-left{
	width: 40%;
}

.f-d .footer-center{
	width: 35%;
}

.f-d .footer-center i{
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.links{
  font-size: 20px;
  font-weight: 300px;
  color: hsl(0, 0%, 100%);
  letter-spacing: 3px;
}

.f-d .footer-center span{
    font-size: 15px;
	line-height: 20px;
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin: 2px;
}

.f-d .footer-center span a{
	color:  rgb(255, 255, 255);
	text-decoration: none;
}

.f-d .social-links{
	display: block;
	color:  #ffffff;
	font-size: 25px;
	font-weight: 200px;
	margin-bottom: 20px;
}

.f-d .footer-icons{
	margin-top: 5px;
}

.f-d .footer-icons a{
	display: inline-block;
	width: 35px;

	color: #ffffff;
	text-align: center;
	line-height: 20px;
    margin-left: 20px;
	margin-right: 1px;
	margin-bottom: 8px;
}

.f-d .footer-icons img{
  height: 22px;
}

div.copyright{
    width: 100%;
    background-color:rgb(90, 44, 44);
    padding: 10px 0px;
}

div.copyright p{
    font-size: 1vw;
    color: white;
    text-align: center;
}